<!DOCTYPE html>
{%load static  %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'registration/form2.css' %}">
	<title>Document</title>
</head>
<body>
	<div>

		<form action="form.py" method="POST">

		<div class="b">

		<label for="Name">Имя:</label><br> 
		<input name="Name" type="text"/><br/><br/>
		
		<label for="Surname">Фамилия:</label><br> 
		<input name="Surname" type="text"/><br/><br/>

		<label for="BirthDay">Дата рождения:</label><br> 
		<input name="BirthDay" type="date" class="tarih" min="2004-01-01" max="2016-12-12" /><br/><br/>

		<label for="Grade">Класс:</label><br> 
		<input name="Grade" type="number" min="1" max="11"/><br/><br/>

		<label for="PhoneNumber">Мобильный номер:</label><br> 
		<input name="PhoneNumber" type="tel" minlength="9" maxlength="12" /><br/><br/>

		<label for="FatherName">Имя Отца:</label><br> 
		<input name="FatherName" type="text"/><br/><br/>

		<label for="FatherSurname">Фамилия Отца:</label><br> 
		<input name="FatherSurname" type="text"/><br/><br/>

		<label for="FatherPhoneNumber">Мобильный номер Отца:</label><br> 
		<input name="FatherPhoneNumber" type="tel" minlength="9" maxlength="12" /><br/><br/>

		<label for="MomName">Имя Матери:</label><br> 
		<input name="MomName" type="text"/><br/><br/>

		<label for="MomSurname">Фамилия Отца:</label><br> 
		<input name="MomSurname" type="text"/><br/><br/>

		<label for="MomPhoneNumber">Мобильный номер Матери:</label><br> 
		<input name="MomPhoneNumber" type="tel" minlength="9" maxlength="12" /><br/><br/>

		<label for="krujok">Домашний адрес:</label><br> 
		<textarea name="krujok" class="krujokAndAdress"></textarea><br/><br/>

		<label for="krujok">Кружки:</label><br> 
		<textarea name="krujok" class="krujokAndAdress"></textarea><br/><br/>

		<label for="DopPrime">Дополнительные примечания:</label><br> 
		<textarea name="DopPrime" ></textarea><br/><br/>

		<input type="file" id="myfile" name="myfile" class="selectFile">
		<br/><br/>
			<input type="radio" name="sex" value="male" class="radio"> Муж
			<input type="radio" name="sex" value="female" class="radio"> Жен
		<br/><br/>

		<input type="submit" value="Отправить" class="submit">

		</div>

		</form>

	</div>


</body>
</html>